.heading{
    font-size:2.2rem;
    display: flex;
    justify-content: center;
   align-items: center;
}
.bdr{
    border: 4px solid rgb(0, 0, 0);
    padding: 20px;

}
.lr{
    display: flex;
    justify-content: space-around;
    
}
:right{
    display: flex;;
     
}
label{
    display: block;
    
    
}

.r1,.l1{
    
    margin: 20px;
    font-size:  1.7rem;
}
.sbt{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size:2rem;
}
